<div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>
    
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li class="active">管理员修改</li>
            </ul><!-- .breadcrumb -->
        </div>
    
        <div class="page-content">
                <div class="row">
                
    
                        <div class="col-xs-12">
                        
                        <form class="form-horizontal" role="form" action="{:url('category/upd_do')}" method="post" >
                            <input type="hidden" name="cate_id" value="{$data.cate_id}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 分类名称 </label>
    
                            <div class="col-sm-9">
                                <input type="text" name="cate_name" value="{$data.cate_name}" id="form-field-1" placeholder="分类名 " class="col-xs-10 col-sm-5" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 所属分类 </label>
    
                            <div class="col-sm-9">
                                <select name="pid">
                                    <option value="">-顶级父类-</option>
                                    {foreach $fdata as $k=>$v}
                                    <option {$data.pid==$v.cate_id ? "selected" : ""} value="{$v.cate_id}">{:str_repeat("&nbsp;&nbsp;",$v['level']*3)}{$v.cate_name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
    
                        <div class="space-4"></div>
    
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 分类是否显示 </label>
    
                            <div class="col-sm-9">
                                    <input type="radio" name="cate_show" value="1" id="form-field-2" {$data.cate_show=='1' ? "checked" : ""} >是
                                    <input type="radio" name="cate_show" value="2" id="form-field-2" {$data.cate_show=='2' ? "checked" : ""} >否
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">分类是否在导航中显示</label>
    
                            <div class="col-sm-9">
                                    <input type="radio" name="cate_nav_show" value="1" id="form-field-2" {$data.cate_nav_show=='1' ? "checked" : ""} >是
                                    <input type="radio" name="cate_nav_show" value="2" id="form-field-2" {$data.cate_nav_show=='2' ? "checked" : ""} >否
                                
                            </div>
                        </div>
                        
    
    
                        <div class="space-4"></div>
                    
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    修改
                                </button>
    
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </div>
    
                        <div class="hr hr-24"></div>
    
    
    
                    </form>
                        </div><!-- /span -->
                    </div><!-- /row -->
    
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->