<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>注册</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
 
        <link rel="stylesheet" href="/static/index/login/amazeui.css" />
        <link href="/static/index/login/dlstyle.css" rel="stylesheet" type="text/css">
        <link href="/static/layui/css/layui.css" rel="stylesheet" type="text/css">
 
        <script src="/static/layui/layui.js"></script>
        <script src="/static/index/login/jquery-3.2.1.min.js"></script>
        <script src="/static/index/login/amazeui.min.js"></script>
 
    </head>
 
    <body>
 
        <div class="login-boxtitle">
            <a href="home/demo.html"><img alt="" src="/static/index/login/logobig.png" /></a>
        </div>
        <div class="res-banner">
            <div class="res-main">
                <div class="login-banner-bg"><span></span><img src="/static/index/login/big.jpg" /></div>
                <div class="login-box">
 
                        <div class="am-tabs" id="doc-my-tabs">
                            <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
                                <li class="am-active"><a href="">邮箱注册</a></li>
                                <li><a href="">手机号注册</a></li>
                            </ul>
 
                            <div class="am-tabs-bd">
                                <!--邮箱注册-->
                                <div class="am-tab-panel am-active">
                                    <form method="post" class="layui-form" action="{:url('login/registerDo')}">
 
                                        <div class="user-email">
                                            <label for="email"><i class="am-icon-envelope-o"></i></label>
                                            <input type="text" name="user_email"  id="email"  lay-verify="required|email"placeholder="请输入邮箱账号">
                                        </div>
                                        <div class="verification">
                                            <label for="email_code"><i class="am-icon-code-fork"></i></label>
                                            <input type="text" name="user_code" id="email_code"  lay-verify="required" placeholder="请输入验证码">
                                            <a class="btn" href="javascript:void(0);"  id="sendEmailCode">
                                                <span class="dyButton" id="span_email">获取</span>
                                            </a>
                                        </div>
                                        <div class="user-pass">
                                            <label for="email_pwd"><i class="am-icon-lock"></i></label>
                                            <input type="password" name="user_pwd" id="email_pwd" lay-verify="checkpwd1" placeholder="设置密码">
                                        </div>
                                        <div class="user-pass">
                                            <label for="email_pwd1"><i class="am-icon-lock"></i></label>
                                            <input type="password" name="user_pwd1" id="email_pwd1" lay-verify="checkpwd2"  placeholder="确认密码">
                                        </div>
                                        <div class="am-cf">
                                            <input type="submit" lay-submit value="注册" class="am-btn am-btn-primary am-btn-sm am-fl">
                                        </div>
                                    </form>
                                </div>
                                <!--手机号注册-->
                                <div class="am-tab-panel">
                                        <form method="post" class="layui-form" action="{:url('login/sendtelDo')}">
                                            <div class="user-phone">
                                                <label for="tel"><i class="am-icon-mobile-phone am-icon-md"></i></label>
                                                <input type="tel" name="user_tel" lay-verify="required|phone"  id="tel" placeholder="请输入手机号">
                                            </div>
                                            <div class="verification">
                                                <label for="tel_code"><i class="am-icon-code-fork"></i></label>
                                                <input type="tel" name="user_code" lay-verify="required" id="tel_code" placeholder="请输入验证码">
                                                <a class="btn" href="javascript:void(0);" id="sendTelCode">
                                                    <span class="dyButton" id="span_tel">获取</span>
                                                </a>
                                            </div>
                                            <div class="user-pass">
                                                <label for="tel_pwd"><i class="am-icon-lock"></i></label>
                                                <input type="password" name="user_pwd" lay-verify="checkpwd1" id="tel_pwd" placeholder="设置密码">
                                            </div>
                                            <div class="user-pass">
                                                <label for="tel_pwd1"><i class="am-icon-lock"></i></label>
                                                <input type="password" name="user_pwd1" lay-verify="checkpwd2" id="tel_pwd1" placeholder="确认密码">
                                            </div>
                                            <div class="am-cf">
                                                <input type="submit" lay-submit lay-filter="telDemo" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl">
                                            </div>
                                        </form>
                                
                                    </div>
                                <script>
                                    $(function() {
                                        $('#doc-my-tabs').tabs();
                                      })
                                </script>
                            </div>
                        </div>
 
                </div>
            </div>
             
            <div class="footer ">
                <div class="footer-hd ">
                    <p>
                        <a href="# ">恒望科技</a>
                        <b>|</b>
                        <a href="# ">商城首页</a>
                        <b>|</b>
                        <a href="# ">支付宝</a>
                        <b>|</b>
                        <a href="# ">物流</a>
                    </p>
                </div>
                <div class="footer-bd ">
                    <p>
                        <a href="# ">关于恒望</a>
                        <a href="# ">合作伙伴</a>
                        <a href="# ">联系我们</a>
                        <a href="# ">网站地图</a>
                        <em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
                    </p>
                </div>
            </div>
    </body>
</html>
<script>
    //邮箱
$(function(){
    $("#span_email").click(function(){
        //1、获取到文本框的值
        var user_email = $("#email").val();
        // console.log(user_email);
        //2、对值进行验证、非空、邮箱格式
       var reg = /^[a-z0-9]{5,15}@[a-z1-9]{2,3}\.com$/
       if(user_email==''){
           alert('邮箱必填');
           return false;
       }else if(!reg.test(user_email)){
           alert('邮箱格式有误');
           return false;
       }
       //倒计时
       $("#span_email").text('30s');
       _t = setInterval(timeLess,1000);

       
      
        //3、通过ajax技术 把邮箱传送给控制器
        $.post(
            "{:url('login/sendEmail')}",
            {user_email:user_email},
            function(res){
                // console.log(res);
                // alert(res.code);
                if(res.code==2){
                    alert('发送失败');
                }else{
                    alert('发送成功');
                }
            }
        )
        //定时器-1
        function timeLess(){
           //获取秒数
           var second = $("#span_email").text();//获取到的秒数字符串 转化为整数
           second = parseInt(second);
        //    console.log(second);
           if(second<=0){
               $("#span_email").text('获取');//文字改为获取
               clearInterval(_t);//关闭定时器
               $("#span_email").css('pointer-events','auto');//按钮生效
           }else{
               //秒数-1
               second = second-1;
               //放回去
               $("#span_email").text(second+'s');
               //不能点击按钮的
               $("#span_email").css('pointer-events','none');
           }
       }
    })
})

    //手机号
    $(function(){
    $("#span_tel").click(function(){
        //1、获取到文本框的值
        var user_tel = $("#tel").val();
        // console.log(user_tel);
        //2、对值进行验证、非空、邮箱格式
       var reg = /^\d{11}$/;
       if(user_tel==''){
           alert('手机号必填');
           return false;
       }else if(!reg.test(user_tel)){
           alert('手机号有误');
           return false;
       }
       //倒计时
       $("#span_tel").text('30s');
       _t = setInterval(timeLess,1000);

       
      
        //3、通过ajax技术 把手机号传送给控制器
        $.post(
            "{:url('login/sendtell')}",
            {user_tel:user_tel},
            function(res){
                console.log(res);
                alert(res.font);
            },
            'json'
        )

        //定时器-1
        function timeLess(){
           //获取秒数
           var second = $("#span_tel").text();//获取到的秒数字符串 转化为整数
           second = parseInt(second);
        //    console.log(second);
           if(second<=0){
               $("#span_tel").text('获取');//文字改为获取
               clearInterval(_t);//关闭定时器
               $("#span_tel").css('pointer-events','auto');//按钮生效
           }else{
               //秒数-1
               second = second-1;
               //放回去
               $("#span_tel").text(second+'s');
               //不能点击按钮的
               $("#span_tel").css('pointer-events','none');
           }
       }
    })
})

</script>