
{include file="public/nav"}
<script type="text/javascript" src="/static/index/js/n_nav.js"></script>    

<!--End Menu End--> 
<div class="i_bg">  
    <div class="content mar_20">
    	<img src="/static/index/images/img3.jpg" />        
    </div>
    
    <!--Begin 第三步：提交订单 Begin -->
    <div class="content mar_20">
    	
  
        
        <!--Begin 余额不足 Begin -->
    	<div class="warning">        	
            <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                	<div class="backs"><a href="{:url('UserOrder/index')}">查询订单</a></div>
                	<div class="backs"><a href="{:url('cart/cart_list')}">返回购物车</a></div>
                </td>
              </tr>
            </table>        	
        </div>
        <!--Begin 余额不足 Begin -->
        
        
    </div>
	<!--End 第三步：提交订单 End--> 
    
